<h2>Licenses</h2>
<h2>Machines</h2>
<p>None.</p>
<h2>External User Details</h2>
<p>None.</p>
<h2>CredNexus Sessions</h2>
<h3>Active Sessions</h3>
<p>None.</p>
<h3>Historic Sessions</h3>
<p>None.</p>
<h3>Emergency Sessions</h3>
<p>None.</p>