<h2>Tickets</h2><a class="btn btn-small btn-primary" href="/Tickets/updateticket"><i class="glyphicon icon-edit"></i>&nbsp;<span>Create New</span></a>
<div id="MyTickets">
    Loading...
</div>
<script>
    $("#MyTickets").load('/tickets/user/myticketspartialpager/3/1');
</script> 
<h2>System Messages</h2>
<p>None.</p>