@model EXPEDIT.Transactions.ViewModels.AccountViewModel
@Html.Partial("Header")
@{
    Style.Require("Transactions");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("Account").ToString();
}
<header><h1>MY @EXPEDIT.Share.Helpers.ConstantsHelper.APP_OWNER</h1></header>
<script type="text/javascript">$('#affiliateLinkedIn').css('display', 'none');</script>
<script type="text/javascript">// <![CDATA[
    $(function () {
        $("#tabs").tabs({
            beforeLoad: function (event, ui) {
                ui.jqXHR.error(function () {
                    ui.panel.html(
                      "Couldn't load this tab. We'll try to fix this as soon as possible. "
                      );
                });
            }
        });
    });
    // ]]></script>
<div id="tabs" class="tabbable">
<ul class="nav nav-tabs">
<li><a href="#tabs-1">Purchases</a></li>
<li><a href="/store/user/pledgespartial">Market Pledges</a></li>
<li><a href="/store/user/profilepartial">Profile</a></li>
<li><a href="/store/user/messagespartial">Messages</a></li>
<li><a href="/store/user/referralspartial">Referrals</a></li>
</ul>
<div id="tabs-1">
@Html.Partial("PurchasesPartial")
</div>
</div>