@model EXPEDIT.Transactions.ViewModels.OrderViewModel

@{
    Style.Require("Transactions");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("Purchase").ToString();
}
<script type="text/javascript">$('#affiliateLinkedIn').css('display', 'none');</script>
@*@using (Html.BeginFormAntiForgeryPost(Url.Action(string.Format("{0}", ViewData["TransparentRedirectUrl"]), "User", new { area = "EXPEDIT.Transactions", Controller = "User", Action = "Index" }), FormMethod.Post, new { id = "payment-form", @class = "payment-form" }))*@
<table class="table table-striped">
<thead>
<tr><th width="75px"></th><th></th></tr>
</thead>
<tbody>
    @foreach (var p in Model.Products) {
        Html.RenderPartial("BuyProductPartial", p);
    
    }
    <tr>
        <td colspan="2"><p>@Html.Raw(string.Format("<button class=\"btn btn-info\" onclick=\"window.location.href='" + Url.Action("Confirm",new { area="EXPEDIT.Transactions", controller="User", id=Model.OrderID}) + "'\">Agree</button></p>"))</p></td>
    </tr>        

</tbody>
</table>