@model EXPEDIT.Transactions.ViewModels.AccountViewModel
<div id="MyInvoicesPartialPagerPage">
    <br />Loading...<br/><br/><img src='/Modules/EXPEDIT.Transactions/Images/loading.gif'/>
</div>
<ul class="pager">
  <li><a href="#" id="MyInvoicesPartialPagerPrevious">Previous</a></li>
  <li><a href="#" id="MyInvoicesPartialPagerNext">Next</a></li>
</ul>
<script language="javascript" type="text/javascript">
    addPager(@(Model.Offset.HasValue ? Model.Offset.Value : 1), @(Model.PageSize.HasValue ? Model.PageSize.Value : 20), '/Transactions/Paged/', 'MyInvoicesPartial');
</script>