@model EXPEDIT.Transactions.ViewModels.AccountViewModel
<div id="MyLicensesPartialPagerPage">
    <br />Loading...<br/><br/><img src='/Modules/EXPEDIT.Transactions/Images/loading.gif'/>
</div>
<ul class="pager">
  <li><a href="#" id="MyLicensesPartialPagerPrevious">Previous</a></li>
  <li><a href="#" id="MyLicensesPartialPagerNext">Next</a></li>
</ul>
<script language="javascript" type="text/javascript">
    addPager(@(Model.Offset.HasValue ? Model.Offset.Value : 1), @(Model.PageSize.HasValue ? Model.PageSize.Value : 10), '/Transactions/Paged/', 'MyLicensesPartial');
</script>