@model EXPEDIT.Transactions.ViewModels.OrderViewModel
<script type="text/javascript">$('#affiliateLinkedIn').css('display', 'none');</script>
<h2>Download Details:</h2>
<a class="btn btn-small" href="/store/user/getorderinvoice/@Model.OrderID"><i class="glyphicon icon-download-alt"></i>&nbsp;Download Invoice</a>
    @foreach (var m in Model.Downloads) {
        <a class="btn btn-small" href="/share/download/@m.DownloadID"><i class="glyphicon icon-download-alt"></i>&nbsp;Download @m.Description</a>
    }
