@model EXPEDIT.Transactions.ViewModels.OrderViewModel
<h2>Download Details:</h2>
<ul>
    <li><a href="/share/getinvoice/@Model.OrderID">Download Invoice</a></li>
    <li>Download Software</li>
    <li>User Guide</li>
</ul>