@model EXPEDIT.Transactions.ViewModels.OrderViewModel
@{
    Style.Require("Transactions");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("Test").ToString();
}
<p>hi</p>
@Html.AntiForgeryToken()

<html>
  <body>
    <h1>Transaction Response</h1>
    <ul>
      <li>Status - @Model.PaymentQueryResponse</li>
    </ul>
    @Html.ActionLink("Click here to sign this customer up for a recurring payment", "Subscriptions", "User", new { area = "EXPEDIT.Transactions", id = ViewData["CustomerId"] }, null)
  </body>
</html>

