@model EXPEDIT.Transactions.ViewModels.OrderViewModel
@{
    Style.Require("Transactions");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("Payment Result").ToString();
}
@Html.AntiForgeryToken()
<h1>Transaction @((Model.PaymentStatus & 0x1) == 0x1 ? "Completed" : "Failed")</h1>
<h2>Download Details:</h2>
<ul>
    <li>Invoice</li>
    <li>Download Software</li>
    <li>User Guide</li>
</ul>
