@model EXPEDIT.Transactions.ViewModels.OrderViewModel
@{
    Style.Require("Transactions");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("Payment Result").ToString();
    bool paid = (Model.PaymentStatus & 0x1) == 0x1;
}
<h1>Transaction @(paid ? "Completed" : "Failed")</h1>
@if (paid) {
    @Html.Partial("Paid", Model)
}
else {
    <p>Please check your details and @Html.ActionLink("try again later.", "Confirm", new { area = "EXPEDIT.Transactions", controller = "User", id = Model.OrderID })</p>
}
