@model EXPEDIT.Transactions.ViewModels.AccountViewModel
<h2>Invoices</h2>
<table class="table table-striped" style="width:100%;">
<thead>
<tr><th></th></tr>
</thead>
<tbody>
    @Html.Partial("MyInvoicesPartialPager", Model)
</tbody>
</table>
