@model XODB.Models.IVerifyMobile

<ul class="nav nav-pills"><li><a id="verifyMobile" style="margin-top: -20px;margin-left: 5px;">Verify Mobile</a></li></ul>
 <script type="text/javascript">
     var token = $('[name=__RequestVerificationToken]').val();
     var data = 'testing';
     $("#verifyMobile").click(function () {
         $.ajax({
             type: "POST",
             url: '@Url.Action("Verify", "User", new { area = "EXPEDIT.Transactions", id=string.Format("{0}", Model.VerificationID) })',
             data: { __RequestVerificationToken: token, jsonRequest: JSON.stringify({ Mobile: $('#Mobile').val() }) },
             context: document.body,
             success: function () { document.getElementById("btnPartnerAgreementAgreed").disabled = false; $("#btnPartnerAgreementAgreed").css("display", "block"); $("#verifyMobile").css("display", "none"); $("#verificationCodeDiv").css("display", "block"); $("#VerificationCode").css("display", "block"); },
             error: function () { alert('Error Verifying Mobile'); }
         });

     });
    </script>